<%- include('partials/header.html')%>
    <section class="noticia-destaque">
            <div class="center">
                <div class="img-destaque">
                    <div class="overlay"></div>
                    <div class="centro-descricao">
                        <h2>Quer Fugir das Praias Nesse Verão?</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit atque quae dolor exercitationem nihil cum unde veritatis itaque aut, reiciendis beatae maiores obcaecati accusantium culpa, distinctio in temporibus nesciunt vero.</p>
                   <a href="/Encarar a natureza">Saiba mais</a>
                    </div>
                    <img src="../public/images/landscape.jpg">
                </div>
            </div>
    </section>
    <section class="outras-noticias">
        <div class="title-outras-noticias">
            <h2>Ultimas noticias</h2>
            <br><br>
                <div class="center">
                    <div class="ultimas">
                        <div class="box-ultima-single">
                            <img src="../public//images/Ultimas noticias.png" alt="">
                            <h3>Natureza e geral</h3>
                            <h2>Natureza e tudo mais</h2>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam laboriosam quibusdam numquam accusantium, ut voluptas quae officia unde aliquam iste eius rerum repellat quis ipsam laudantium ipsum eligendi quia aspernatur.</p>
                            <a href="/Encarar a natureza">Saiba mais</a>
                        </div>
                        <div class="box-ultima-single">
                            <img src="../public//images/Ultimas noticias.png" alt="">
                            <h3>Natureza e geral</h3>
                            <h2>Natureza e tudo mais</h2>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam laboriosam quibusdam numquam accusantium, ut voluptas quae officia unde aliquam iste eius rerum repellat quis ipsam laudantium ipsum eligendi quia aspernatur.</p>
                            <a href="/Encarar a natureza">Saiba mais</a>
                        </div>
                    </div>
                    <div class="mais-lidas">
                        <h3>Mais Lidas</h3>
                        <div class="mais-lidas-noticias">
                            <div class="mais-lidas-single"></div>
                            <img src="../public//images/Primeira.png" alt="">
                            <div class="nomeclatura-single">
                                <h4>Natureza</h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id, accusamus. Debitis eos odit nisi ea praesentium dolor, quas, tenetur, asperiores necessitatibus obcaecati nobis sequi dolorem! Quod vel quam suscipit distinctio!</p>
                            </div>
                            <div class="mais-lidas-single"></div>
                            <img src="../public//images/Primeira.png" alt="">
                            <div class="nomeclatura-single">
                                <h4>Natureza</h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id, accusamus. Debitis eos odit nisi ea praesentium dolor, quas, tenetur, asperiores necessitatibus obcaecati nobis sequi dolorem! Quod vel quam suscipit distinctio!</p>
                            </div>
                            <div class="mais-lidas-single"></div>
                            <img src="../public//images/Primeira.png" alt="">
                            <div class="nomeclatura-single">
                                <h4>Natureza</h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id, accusamus. Debitis eos odit nisi ea praesentium dolor, quas, tenetur, asperiores necessitatibus obcaecati nobis sequi dolorem! Quod vel quam suscipit distinctio!</p>
                            </div>
                            <div class="mais-lidas-single"></div>
                            <img src="../public//images/Primeira.png" alt="">
                            <div class="nomeclatura-single">
                                <h4>Natureza</h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id, accusamus. Debitis eos odit nisi ea praesentium dolor, quas, tenetur, asperiores necessitatibus obcaecati nobis sequi dolorem! Quod vel quam suscipit distinctio!</p>
                            </div>
                        </div>
                        
                 </div>
                </div>
            
        </div>
    </section>
    <%- include('partials/footer.html')%>
</body>
</html>