<%- include('partials/header.html')%>
<body>
    <section class="noticia">
        <div class="center">
            <div class="noticia-single">
                <h2>Texto para teste</h2>
                <div class="autor-nome">
                    <span>Por Eliot Sama</span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu nisi id risus sodales porttitor consectetur vehicula leo. Quisque vehicula vitae nulla vitae egestas. Morbi scelerisque ipsum quis orci porttitor aliquam. Aliquam vitae finibus ex, sed elementum elit. Proin mollis posuere purus sed suscipit. Integer quis fringilla felis. Etiam commodo justo sit amet purus vestibulum pulvinar. Curabitur sollicitudin ante dolor. Vestibulum elit lectus, porta ut interdum maximus, venenatis et mauris. Vivamus ultrices, ligula nec egestas molestie, urna odio scelerisque dui, a sollicitudin neque turpis ac erat. Nullam a euismod enim, et aliquet elit. Donec eget consequat ligula. Curabitur dignissim tempor eros. Duis est neque, pulvinar et lacinia at, mollis id nulla. Suspendisse potenti. Donec accumsan dignissim leo tristique rutrum.

                    Donec et tellus maximus nisl vulputate ultricies. Integer tortor enim, euismod eu enim sit amet, vulputate suscipit ante. Sed at cursus velit. Cras dictum ipsum quis scelerisque accumsan. Nunc tristique elit nunc, et malesuada urna consectetur id. Aenean ligula libero, rutrum quis lectus eget, ultricies suscipit neque. Vestibulum leo felis, venenatis vel metus at, ultrices viverra dui. Quisque sed quam dui. Nam sed facilisis velit. Aliquam eros tellus, euismod eget egestas nec, gravida non elit.
                    
                    Vivamus elit libero, cursus quis augue in, egestas tempus magna. Fusce nisl mauris, tincidunt et sagittis non, ultrices a dui. Nunc a vehicula leo, ut lobortis odio. Aenean bibendum rutrum nibh. Pellentesque arcu eros, pharetra ac viverra a, pretium ac urna. Praesent id magna vitae nunc pretium ullamcorper at ac lectus. Maecenas nec diam metus. Sed et arcu ornare, tincidunt dui sed, pellentesque arcu. Donec aliquam, velit id vehicula eleifend, nisi elit sodales nulla, et molestie diam neque non lacus. Etiam consectetur mollis quam, in elementum mi porttitor sit amet. Praesent scelerisque sit amet quam eget tincidunt. Fusce sed mauris ex. Quisque dignissim sollicitudin facilisis. Nullam quis massa sodales, egestas neque et, finibus nulla. Aliquam sed ligula quis velit dapibus condimentum.
                    
                    Quisque placerat sed ipsum eu dignissim. Nunc a ligula mauris. Pellentesque dignissim nec elit ut ullamcorper. Suspendisse porttitor massa lectus, id sollicitudin leo blandit eget. Integer convallis velit vel lacus dapibus, in congue quam euismod. Ut diam nunc, consequat nec congue eget, pretium sit amet est. Donec eleifend iaculis tristique. Aenean a metus vel sem vulputate porta. Curabitur blandit velit eu enim ultrices, sit amet accumsan mi tristique. Vestibulum nec vulputate magna.
                    
                    Proin varius ligula eu enim vehicula aliquam. Aenean finibus feugiat justo, a finibus ex. Maecenas ac arcu vel libero facilisis iaculis a nec nisi. Curabitur rutrum massa sed pulvinar volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Cras ullamcorper lacinia felis vitae laoreet. Curabitur vestibulum odio sed vehicula sagittis. Donec nec suscipit massa, non feugiat magna. In fermentum quam a accumsan cursus.
                    
                    Generated 5 paragraphs, 455 words, 3084 bytes of Lorem Ipsum</p>
            </div>
            <div class="mais-lidas" style="padding: 20px 0;">
                <h3>Mais Lidas</h3>
                <div class="mais-lidas-noticias">
                    <div class="mais-lidas-single"></div>
                    <img src="../public//images/Primeira.png" alt="">
                    <div class="nomeclatura-single">
                        <h4>Natureza</h4>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id, accusamus. Debitis eos odit nisi ea praesentium dolor, quas, tenetur, asperiores necessitatibus obcaecati nobis sequi dolorem! Quod vel quam suscipit distinctio!</p>
                    </div>
                    <div class="mais-lidas-single"></div>
                    <img src="../public//images/Primeira.png" alt="">
                    <div class="nomeclatura-single">
                        <h4>Natureza</h4>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id, accusamus. Debitis eos odit nisi ea praesentium dolor, quas, tenetur, asperiores necessitatibus obcaecati nobis sequi dolorem! Quod vel quam suscipit distinctio!</p>
                    </div>
                    <div class="mais-lidas-single"></div>
                    <img src="../public//images/Primeira.png" alt="">
                    <div class="nomeclatura-single">
                        <h4>Natureza</h4>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id, accusamus. Debitis eos odit nisi ea praesentium dolor, quas, tenetur, asperiores necessitatibus obcaecati nobis sequi dolorem! Quod vel quam suscipit distinctio!</p>
                    </div>
                    <div class="mais-lidas-single"></div>
                    <img src="../public//images/Primeira.png" alt="">
                    <div class="nomeclatura-single">
                        <h4>Natureza</h4>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id, accusamus. Debitis eos odit nisi ea praesentium dolor, quas, tenetur, asperiores necessitatibus obcaecati nobis sequi dolorem! Quod vel quam suscipit distinctio!</p>
                    </div>
                </div>
                
         </div>
        </div>
    
        </div>
    </section>
    
</body>


<%- include('partials/footer.html')%>