*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding: 8px 0;
    background-color: #5F05B9;
}
.center{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
}
.logo{
    width: 50%;
}
.logo h2{
    color: #C4BCCC ;
}
.form-busca{
    width: 50%;
    text-align: right;
}
.form-busca form{
    display: inline-block;
    width: 200px;
    position: relative;
}
.form-busca i{
    position: absolute;
    left: 10px;
    color: #fff;
    top: 10px;
    font-size: 20px;
}
.form-busca input{
    background-color: #7E06F7 ;
    padding-left: 40px;
    border: 0;
    color: #fff;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    max-width: 200px;
}
input::placeholder {
    color: #fff;
  }
  section.noticia-destaque{
      padding: 40px 0;
  }
  section.noticia-destaque > .center{
      max-width: 960px;
  }
  .img-destaque {
    width: 100%;
    position: relative;
    border-radius: 20px;
  }
  .img-destaque img{
      width: 100%;
      border-radius: 20px;
  }
  .centro-descricao{
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 10px;
      max-width: 600px;
      color: #fff;
      z-index: 2;
  }
  .overlay{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0,0,0.4);
      z-index: 1;
      border-radius: 20px;
  }
  section.outras-noticias{
    background-color: #EAEAEA;
    padding: 50px 20px;
    text-align: center;

  }
  section.outras-noticias h2{
      font-size: 54px;
  }
  .ultimas{
      width: 70%;
      padding: 0 30px;
      display: flex;
  }
  .mais-lidas{
      width: 30%;
  }
  .box-ultima-single{
      text-align: left;
      width: 49%;
      margin-right: 1%;
      background-color: #fff;
      padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
      height: 100%;
  }
  .box-ultima-single img{
      width: 100%; 
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
  }
  .mais-lidas > h3{
      background-color: #5F05B9;
      color: #EAEAEA;
      text-align: center;
      padding: 10px 8px;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
  }

  .box-ultima-single h3{
    font-size: 16px;
    margin: 20px 0;
    color: #303336
  }
  .mais-lidas{
    background-color:#fff ;
}